body {
  background: #f8e8a6;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

footer {
  text-align: center;
}

footer a {
  color: green;
  margin: 0 10px;
}

.croissant-picture {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
